div{
  /* border: 2px solid ;*/
}
#titulo{
    background-color: #0B0643;
    margin: 10%;
      
}

img{
    max-width: 100%;max-height: 150%;
     
}
input {
    font-size: 25px;
    
    width: 100%;
}

#limpiar{
    width: 80px;
    height: auto;
    -webkit-text-decoration-color: aliceblue;
    text-decoration-color: aliceblue;
    background-color:green;
    -webkit-text-emphasis-color: cadetblue;
    text-emphasis-color: cadetblue;
}

#divBotones{
    margin-bottom: 20px;
    /* border: 2px solid ;*/
    height: 100px;
    text-align:center;
    max-width: 100%;
    
}

#btnlimpiar{width: 80px;float:left; padding-left: 10%;}
#tituloInicio{ float:left;padding-left: 10%;}
#btnconvertir{width: 80px;float:left;padding-left: 5%; }



body{
     margin: 10%; 
    background-color: darkgray;
    background-image: url(Imagenes/fondo1.jpg);
}

